.category-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    gap: 24px;
}

.cards-links {
    display: flex;
    width: 312px;
    height: 220px;
    background: var(--background-quartiary-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
}

.cards-links img {
    margin: 41px 0 24px 0;
}

.cards-links h3 {
    color: var(--text-primary-color);
    margin: 0 0 41px 0;
}

@media screen and (min-width: 768px) {
    .category-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
}