.destinations {
    margin: 88px auto;
}

.destination-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.destinations .item .img-item {
    width: 100%;
    height: 368px;
}

.tokyo {
    background: url(../img/japao-mobile.png);
    background-size: cover;
}

.osaka {
    background: url(../img/osaka-mobile.jpg);
    background-size: cover;
}

.destinations .item header h4 {
    font-size: 28px;
    font-weight: var(--title-weight);
    margin: 24px 0;
}

.destinations .item p {
    font-size: 20px;
    font-weight: var(--text-weight);
    line-height: 32px;
    margin-bottom: 24px;
}

.destinations .button {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .destinations {
        width: 648px;
    }

    .destinations .item .img-item {
        width: 100%;
        height: 452px;
    }

    .tokyo {
        background: url(../img/tokyo-tablet-desk.jpg);
        background-size: cover;
    }

    .osaka {
        background: url(../img/osaka-tablet-desk.jpg);
        background-size: cover;
        background-position: center;
    }

    .destinations .button {
    width: 280px;
}
}

@media screen and (min-width: 1024px) {
    .destinations {
        width: 900px;
    }

    .destination-items {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

}