.main-footer {
    width: 100%;
    height: 348px;
}

.main-footer .footer-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-secondary-color);
    font-size: 16px;
    line-height: 28px;
    padding: 31px 24px;
}

.main-footer .footer-container .social-medias a {
    display: inline-block;
    height: 32px;
    width: 32px;
}

.main-footer .footer-container header img {
    width: 162px;
    height: 40px;
    margin-bottom: 16px;
}

.main-footer .footer-container header p {
    margin-bottom: 8px;
}

.main-footer .footer-container footer p {
    margin-top: 24px;
}

@media screen and (min-width: 768px) {
    .main-footer {
        height: 300px;
    }

    .main-footer .footer-container {
        font-size: 20px;
        line-height: 32px;
        padding: 32px 60px;
    }
}

@media screen and (min-width: 1440px) {
    .main-footer {
        height: 232px;
    }

    .main-footer .footer-container {
        flex-direction: row;
        padding: 52px 120px;
        justify-content: space-between;
    }

    .main-footer .footer-container header {
        text-align: start;
    }
}