.hero-img {
  width: 100%;
  height: 400px;
  background: url(../img/hero-homepage-mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h2 {
    padding: 88px 60px;
    margin: 0;
    font-weight: var(--text-weight);
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-homepage-tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/hero-homepage-desktop.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1920px) {
    .hero h2 {
        padding: 88px 160px;
    }
}
