.hero-footer .hero-footer-img {
    width: 100%;
    height: 400px;
    background: url(../img/hero-footer-mobile.png) no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 768px) {
  .hero-footer .hero-footer-img {
    background: url(../img/hero-footer-tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
  }}

@media screen and (min-width: 1440px) {
  .hero-footer .hero-footer-img {
    height: 600px;
    background: url(../img/hero-footer-desktop.png) no-repeat;
    background-size: cover;
    background-position: center;
  }}
  