.hero-img {
  width: 100%;
  height: 400px;
  background: url(../img/hero-homepage-mobile.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-homepage-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/hero-homepage-desktop.png) no-repeat;
    background-size: cover;
  }
}
