.content-container {
    display: flex;
    flex-direction: column;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 460px;
    width: 100%;
    margin-top: 24px;
}

.payments .image-gallery .image.bag {
    background: url(../img/bag-mobile.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.payments .image-gallery .image.passport {
    background: url(../img/passport-mobile.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.payments .image-gallery .image.people{
    background: url(../img/people-mobile.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.payments .image-gallery .image.colspan-2 {
    grid-column: span 2;
}

@media screen and (min-width: 768px) {
    .payments .image-gallery .image.bag {
    background: url(../img/bag-tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.payments .image-gallery .image.passport {
    background: url(../img/passport-tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.payments .image-gallery .image.people{
    background: url(../img/people-tablet.png) no-repeat;
    background-size: cover;
    background-position: bottom;
}
}

@media screen and (min-width: 1024px) {
    .content-container {
    flex-direction: row;
}
    .payments .image-gallery .image.bag {
    background: url(../img/bag-desktop.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.payments .image-gallery .image.passport {
    background: url(../img/passport-desktop.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.payments .image-gallery .image.people{
    background: url(../img/people-desktop.png) no-repeat;
    background-size: cover;
    background-position: bottom;
}

.text-content {
    width: 384px;
    margin-right: 24px;
}
}